---
layout: default
title: "Polish BSD User Group - Talks"
permalink: /talks/
---
<h1>Previous talks</h1>
{% for pdf in site.static_files reversed %}
	{% if pdf.path contains 'assets/talks' %}
		{% assign title = pdf.basename | split: '_' %}
		{% if pdf.extname == '.txt' %}
			{% assign url = site.data.talks[pdf.basename] %}
		{% else %}
			{% capture url %}{{ site.baseurl }}{{ pdf.path }}{% endcapture %}
		{% endif %}
		{{ title[0] }} <a href="{{ url }}" />{{ title[3] | split: '-' | join: ' ' }} by {{ title [2] | split: '-' | join: ' '}}</a><br/>
	{% endif %}
{% endfor %}
